#container{
    height: 400px;
    width: 400px;
    border: solid rgb(95, 194, 237) 3px;
    background-color:white;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

    align-content: space-around;
    

}

div{
    height: 100px;
    width: 100px;
    border: solid black 3px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font: 900;
    background-color: grey;
    
}
