div{
    width: 200px;
    height: 200px;
    background-color:coral ;
    transition: margin-top 1s ease-in-out 0.1s;  
    /* action duration animation delay */
    transition-duration: 1s;
    transition-delay: 1s; 

}

div:hover{
    margin-top: 300px;
    background-color: black;
}
/* 
scale 
rotate */
